<ion-content class="background" scroll="false">
    <div class="col">
    	<img src="./img/white-logo.png" class="splash_logo animated zoomIn">
    </div>
    <div class="splash_content">
    	<p class="col col-80 col-offset-10 text-center">
    		Spend your time Wisely, Spend time<br>with your loved ones
    	</p>
    	<div class="text-center animated fadeInUp callbutton">
    		<button class="button ink" style="width: 70%;" data-ng-click="checkLoggedIn()" id="singin">
    			Order Online
    		</button>
    	</div>
    </div>
</ion-content>
